body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #252525;
}

.intro {
  text-align: center;
  padding: 1px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 1%;
}

.intro h1 {
  margin-bottom: 1%;
}

.introBody {
  width: 50%;
  margin-top: 1%;
  margin-left: 25%;
  padding: 1px;
  text-align: center;
}

.dividingContainer {
  padding: 2% 2% 2% 2%;
  width: 48%;
  margin-left: 25%;
  margin-bottom: 1%;
  background-color: #3391ff;
  border-radius: 10%;
}

.codeView {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  width: 25%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.JSONView {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  width: 48%;
  border-radius: 25px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.schemaView {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  width: 93%;
  border-radius: 25px;
  padding: 5px;
}

.urlView {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  width: 80%;
  border-radius: 25px;
  padding: 5px;
 
}

.urlView p {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  width: 80%;
  border-radius: 25px;
  padding-left: 3%;
}

.codeBlock {
  padding-left: 2%;
}

.requestBlockView {
  font-family: "Courier New", Courier, monospace;
  width: 40%;
  border-radius: 25px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.prettyTextField {
  color: #9cdcfe;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

.prettyTextString {
  color: #d1734e;
  display: inline;
}

.prettyTextNum {
  color: #6fd15c;
  display: inline;
}

.prettyTextBool {
  color: #3391ff;
  display: inline;
  font-weight: bold;
}

.prettyTextRoute h1 {
  font-size: 62px;
  padding-left: 40%;
  margin-top: 0;
  margin-bottom: 7.5%;
  color:#E8D048;
}

.prettyTextRoute {
  color:#E8D048;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
}

.prettyTextRoute h2 {
  color:#E8D048;
  display: inline;
}

html {
  background-color: #181a1b !important;
}

html {
  color-scheme: dark !important;
}

html,
body,
input,
textarea,
select,
button {
  background-color: #181a1b;
}

html,
body,
input,
textarea,
select,
button {
  border-color: #736b5e;
  color: #e8e6e3;
}

a {
  color: #3391ff;
}

table {
  border-color: #545b5e;
}

h1 {
  color: #d5e4e4;
}

h3 {
  color: #e8d048;
}

body {
  background-color: #1C1E1F;
}

.codeView {
  background-color: #494f52;
}

.JSONView {
  background-color: #494f52;
}

.schemaView {
  background-color: #494f52;
}

.dividingContainer {
  background-color: #252525;
}

.urlView {
  background-color: #494f52;
}

.requestBlockView {
  background-color: #494f52;
}

.prettyTextField {
  color: #87d5fe;
}

.prettyTextString {
  color: #d47d5b;
}

.prettyTextNum {
  color: #77d465;
}
