<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <title>Quiz App Backend API</title>
    </head>
    <body>
        <div class="intro">
            <h1>Welcome to the Trivia Mania Backend API</h1>
        </div>
        <div class="introBody">
            <h3>This document provides valuable information on how to use the API.</h3>
        </div>
        <div class="dividingContainer">
            <div class="prettyTextRoute"><h1>/quiz</h1></div>
            <div>
                <h2>GET: /<div class="prettyTextRoute">quiz</div></h2>
                <p>Provides a JSON object of available quiz categories.</p>
            </div>
            <div>
                <h2>GET: /<div class="prettyTextRoute">quiz</div>?<div class="prettyTextField">category</div>=__value__</h2>
                <p>Provides a JSON object of all available quiz questions of specified category.</p>
            </div>
            <div>
                <h2>POST: /<div class="prettyTextRoute">quiz</div></h2>
                <h2>🛡️ - <div class="prettyTextAuth">requires authentication</div> - accessToken</h2>
                <p>Takes a JSON in request body and validates it.</p>
                <div class ="codeBlock">
                    <h3>Schema</h3>
                    <div class ="schemaView">
                        <ul>
                            <li><div class="prettyTextField">userId</div>: <strong>STRING</strong>, the GUID of the current user.
                            <li><div class="prettyTextField">finalScore</div>: <strong>NUMBER</strong>, the final score achieved by the user.
                            <li><div class="prettyTextField">category</div>: <strong>STRING</strong>, the quiz category the score was achieved in.
                            <li><div class="prettyTextField">timeStamp</div>: <strong>TIMESTAMP</strong>, the timestamp at the time of the completion of the quiz.
                        </ul>
                    </div>
                    <br>
                    <h3>Example following the above schema</h3>
                    <div class = "JSONView">
                        <div class="prettyTextField">"userId"</div>: <div class="prettyTextString">"$GUID"</div>,<br>
                        <div class="prettyTextField">"finalScore"</div>: <div class="prettyTextNum">1</div>,<br>
                        <div class="prettyTextField">"category"</div>: <div class="prettyTextString">"math"</div>,<br>
                        <div class="prettyTextField">"timeStamp"</div>: <div class="prettyTextString">"2023-02-21 13:47:11"</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dividingContainer">
            <div class="prettyTextRoute"><h1>auth</h1></div>
            <h2>POST: /<div class="prettyTextRoute">login</div></h2>
            <!--<h2>🛡️ - <div class="prettyTextAuth">requires authentication</div> - refreshToken</h2>-->
            <p>Takes an object containing username and password. Returns <strong>200</strong> if login succeeds, and two tokens (explained below). <strong>404</strong> if login failed.</p>
            <div class ="codeBlock">
                <h3>Schema</h3>
                <div class ="schemaView">
                    <ul>
                        <li><div class="prettyTextField">userName</div>:  <strong>STRING</strong>, the username of the user.</li>
                        <li><div class="prettyTextField">password</div>:  <strong>STRING</strong>, the user's password.</li>
                    </ul>
                </div>
                <h3>Example following the above schema</h3>
                <div class = "JSONView">
                    <div class="prettyTextField">"userName"</div>: <div class="prettyTextString">"Drake"</div>,<br>
                    <div class="prettyTextField">"password"</div>: <div class="prettyTextString">"secret"</div><br>
                </div>
                <h3>Returns on success</h3>
                <div class = "JSONView">
                    <div class="prettyTextField">"accessToken"</div>: <div class="prettyTextString">"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXV ..."</div>,<br>
                    <div class="prettyTextField">"refreshToken"</div>: <div class="prettyTextString">"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXV ..."</div><br>
                </div>
            </div>
            <p>The 'accessToken' is temporary (expires in a few minutes), the 'refreshToken' exists on the database until the user logs out. Once the 'accessToken' expires the /token endpoint can renew (explained later). The userId, username, and password are encoded within both tokens.</p>
            <h2>POST: /<div class="prettyTextRoute">renew</div></h2>
            <p>Takes an object containing the refreshToken issued earlier. Returns <strong>200</strong> if refreshToken valid, and a new renewed accessToken. <strong>403</strong> if refreshToken expired or missing from database.</p>
            <div class ="codeBlock">
                <h3>Schema</h3>
                <div class ="schemaView">
                    <ul>
                        <li><div class="prettyTextField">refreshToken</div>:  <strong>STRING</strong>, the semi-permanent token.</li>
                    </ul>
                </div>
                <h3>Example following the above schema</h3>
                <div class = "JSONView">
                    <div class="prettyTextField">"refreshToken"</div>: <div class="prettyTextString">"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXV ..."</div>,<br>
                </div>
                <h3>Returns on success</h3>
                <div class = "JSONView">
                    <div class="prettyTextField">"accessToken"</div>: <div class="prettyTextString">"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXV ..."</div>,<br>
                </div>
                <p>Assuming a valid 'refreshToken', returns a newly renewed 'accessToken'.</p>
            </div>
            <h2>DELETE: /<div class="prettyTextRoute">logout</div></h2>
            <p>Takes an object containing the refreshToken. Returns <strong>204</strong> if refreshToken valid, then the refreshToken is deleted form the database. <strong>500</strong> if refreshToken could not be deleted from the database.</p>
            <div class ="codeBlock">
                <h3>Schema</h3>
                <div class ="schemaView">
                    <ul>
                        <li><div class="prettyTextField">refreshToken</div>:  <strong>STRING</strong>, the semi-permanent token to be invalidated/deleted.</li>
                    </ul>
                </div>
            </div>
            <br>
            <h3>Note</h3>
            <p>Endpoints bearing this label:</p>
            <h2>🛡️ - <div class="prettyTextAuth">requires authentication</div> - accessToken</h2>
            <p>Require the Authorization Header to be set accordingly</p>
            <div class="urlView">
                <p><div class="prettyTextField" style="padding-left: 3%;">Header</div>: <div class="prettyTextField">Authorization</div>: Bearer $accessToken</p>
            </div>
        </div>
        <div class="dividingContainer">
            <div class="prettyTextRoute"><h1>/profile</h1></div>
            <h2>GET: /<div class="prettyTextRoute">profile</div>/:<div class="prettyTextField">userId</div></h2>
            <p>Takes a userId in url and returns a JSON with user profile information if user exists. <strong>404</strong> if userId doesn't exist.</p>
            <div class ="codeBlock">
                <h3>Example</h3>
                <div class ="urlView">
                    <p>localhost:3000/profile/6410b81059a013b25047049a</p>
                </div>
                    <p>Will return a popular musician's details.</p>
                <br>
            </div>
            <h2>DELETE: /<div class="prettyTextRoute">profile</div>/:<div class="prettyTextField">userId</div></h2>
            <h2>🛡️ - <div class="prettyTextAuth">requires authentication</div> - accessToken</h2>
            <p>Takes a userId in url and delete the user at with that userId if user exists. <strong>500</strong> if userId doesn't exist.</p>
            <div class ="codeBlock">
                <h3>Example</h3>
                <div class ="urlView">
                    <p>localhost:3000/profile/6410b81059a013b25047049a</p>
                </div>
                    <p>Will delete the profile of a popular musician.</p>
                <br>
            </div>
            <h2>PUT: /<div class="prettyTextRoute">profile</div>/:<div class="prettyTextField">userId</div></h2>
            <h2>🛡️ - <div class="prettyTextAuth">requires authentication</div> - accessToken</h2>
            <p>Takes a userId in url and will update the user based on the information in the request body, if that user exists. <strong>500</strong> if userId doesn't exist.</p>
            <div class ="codeBlock">
                    <h3>Schema</h3>
                    <div class ="schemaView">
                        <ul>
                            <li><div class="prettyTextField">userName</div>: <strong>STRING</strong>, the new/old username of the user.</li>
                            <li><div class="prettyTextField">email</div>: <strong>STRING</strong>, the new/old email address of the user.</li>
                            <li><div class="prettyTextField">password</div>: <strong>STRING</strong>, the new/old user's password.</li>
                            <li><div class="prettyTextField">old_password</div>: <strong>STRING</strong>, the user's old password.</li>
                            <li><div class="prettyTextField">new_password</div>: <strong>STRING</strong>, the user's new password.</li>
                        </ul>
                    </div>
                    <br>
                    <h3>Example following the above schema</h3>
                    <div class = "JSONView">
                        <div class="prettyTextField">"userName"</div>: <div class="prettyTextString">"ChampagnePapi"</div>,<br>
                        <div class="prettyTextField">"email"</div>: <div class="prettyTextString">"drake@ovo.com"</div>,<br>
                        <div class="prettyTextField">"old_password"</div>: <div class="prettyTextString">"secret"</div>,<br>
                        <div class="prettyTextField">"new_password"</div>: <div class="prettyTextString">"secret"</div><br>
                    </div>
                    <p>The above example will change the profile's username.</p>
                </div>
        </div>   
        <div class="dividingContainer">
            <div class="prettyTextRoute"><h1>/<div class="prettyTextRoute">signup</div></h1></div>
            <h2>POST: /<div class="prettyTextRoute">signup</div></h2>
            <p>Sending a user JSON object that conforms with the schema below will add that user's details to the database.</p>
            <div class ="codeBlock">
                <h3>Schema</h3>
                <div class ="schemaView">
                    <ul>
                        <li><div class="prettyTextField">firstName</div>: <strong>STRING</strong>, the first name of the user.</li>
                        <li><div class="prettyTextField">lastName</div>:  <strong>STRING</strong>, the last name of the user.</li>
                        <li><div class="prettyTextField">userName</div>:  <strong>STRING</strong>, the username of the user.</li>
                        <li><div class="prettyTextField">email</div>:     <strong>STRING</strong>, the email address of the user.</li>
                        <li><div class="prettyTextField">birthDate</div>: <strong>DATE</strong>, the birth date of the user.</li>
                        <li><div class="prettyTextField">password</div>:  <strong>STRING</strong>, the user's password.</li>
                    </ul>
                </div>
                <h3>Example following the above schema</h3>
                <div class = "JSONView">
                    <div class="prettyTextField">"firstName"</div>: <div class="prettyTextString">"Aubrey"</div>,<br>
                    <div class="prettyTextField">"lastName"</div>: <div class="prettyTextString">"Graham"</div>,<br>
                    <div class="prettyTextField">"userName"</div>: <div class="prettyTextString">"Drake"</div>,<br>
                    <div class="prettyTextField">"email"</div>: <div class="prettyTextString">"drake@ovo.com"</div>,<br>
                    <div class="prettyTextField">"birthDate"</div>: <div class="prettyTextString">"1986-10-24T00:00:00.000Z"</div>,<br>
                    <div class="prettyTextField">"password"</div>: <div class="prettyTextString">"secret"</div><br>
                </div>
            </div>
        </div>
        <div class="dividingContainer">
            <div class="prettyTextRoute"><h1 style="padding-left: 33%;">/<div class="prettyTextRoute">leaderboard</div></h1></div>
            <h2>GET: /<div class="prettyTextRoute">leaderboard</div>?<div class="prettyTextField">category</div>=__value__</h2>   
            <p>Sending a GET request with this query will return a JSON with all of the leaderboard records that correspond to the category __value__.</p>
            <h2>GET: /<div class="prettyTextRoute">leaderboard</div>?<div class="prettyTextField">userId</div>=__value__</h2>   
            <p>Sending a GET request with this query will return a JSON with all of the leaderboard entries from user __value__.</p>
            <h2>GET: /<div class="prettyTextRoute">leaderboard</div>?<div class="prettyTextField">userId</div>=__value__&<div class="prettyTextField">page</div>=__value__</h2>
            <p>Sending a GET request with this query will return a JSON with all of the leaderboard entries from user __value__. Paginated via the page query field. NOTE: "page" can be used with either userId or category.</p>
            <p><strong>NOTE: The above queries can be combined, to get a category filtered view of a users quiz performances.</strong></p>
        </div>
    </body>
</html>